input {
    width: 100%;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 5px 0;

}
button {
    width: 60px;
    font-size: 1.5em;
    padding: 10px;
    margin: 5px;
}
.kalkulacka {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

